.banner{
    text-align: center;
    background-color: #E9ECEF;
    border: 5px solid greenyellow;
}
.row-two-forms{
    box-sizing: border-box;
    justify-content: space-around;
    align-content: center;
}
.left-form-destination{
    border: 5px solid red;
    
}

.right-form-destination-detials{
    border: 5px solid blue;
  
   
}

