.banner{
    text-align: center;
    background-color: #E9ECEF;
    border: 5px solid greenyellow;
}

.left-form-destination{
    border: 5px solid red;
    width: 50vw;
    justify-items: left;
}

.right-form-destination-detials{
    border: 5px solid blue;
    width: 50vw;
    justify-items: right;
}

